
$objectPadding: 2em 0em;
.spacedOut {
    margin: $objectPadding;
}

#pageTitle {
    text-align: center;
}

#layout {
    @include box-shadow(inset 0 0 0 5px $color4);
    background-color: $color2;
}

#pageTitle h2 {
    font: 32px $font-sans;
    color: $color3;
}

#slider {
    //padding
    @include box-sizing(context-box);
    padding: 0em 3em;
}

#imgChanger {
    //@param $bs border-box;
    width: 100%
}

/*
#rotatingImage {
    @include background(image-url("sprinkles.jpg"),
        radial-gradient(#fff, #FFF1DB 300px));
    
}
*/

