// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.
body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
}

form.bp {
  @include blueprint-form;
}

// Page layout can be done using mixins applied to your semantic classes and IDs:
.two-col {
	@include container;
	background-color: $color4;
	@include box-shadow;
}
#header {	
	@include box-shadow;
	@include column(24); 
	position: relative;
	font: 48px $font-sans;
    margin-top: 1em;
	margin-bottom: 0.5em;
    span.little { font-size: 0.5em; vertical-align: middle}    
}
#navi {
	@include column(24);
	background-color: $color1;
	margin: 1.5em 0;
}
#navi li {
	@include column(6);
	@include clearfix;
	border: 1px solid $color1;
	font-family: $font-cursive;
	text-align: center;
	padding: 0.5em 0;
	margin: 0;
	background-color: $color2;
	
}
#sidebar {
	@include column(8);
	background: black;
	height: 100px;
}
#content {
	@include column(16, true); } 
.contact { 
	@include column(24); 	
}    

#header, #footer {
    background: $color1;
	color: $color2;
}

#footer-root { clear:both }
@include sticky-footer(72px, "#layout", "#footer-root", "#footer");

/* essential so the ribbon can go over the edge */
#layout { overflow: visible }

.ribbon {
	margin-left: -20px;
	overflow: visible;
	padding-left: 20px;	
}

/* folded in part */    
.ribbon:before {
	border-bottom: 20px solid $color2;
	border-left: 20px solid transparent;
	content: "";
	left: 0;
	position: absolute;
	top: -20px;
	z-index: -1;
}
/* left of header */
/*#header:before {
	@include box-shadow;
	background-color: $color1;
	content: "";
	height: 100%;
	left: -20px;
	position: absolute;
	width: 20px;
}
*/