// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

@import "body";

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.
body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
}

form.bp {
  @include blueprint-form;
}

body {
	background: $color1;
}

// Page layout can be done using mixins applied to your semantic classes and IDs:
.two-col {
	@include container;
	.nuff-stars{
		@include column(24);
	}
	#navi {
		@include column(24);
	}
	#navi li {
		@include column(6);
	}
}
#header {	
	@include box-shadow; 
	position: relative;
	width: $blueprint-container-size * 0.75;
	font: 48px $font-sans;
	margin: 1em auto 0.5em;
    span.little { font-size: 0.5em; vertical-align: middle};
	text-align: center;
}
a.phone:before {
	content: "\260E";
	font-size: 1.3em;
	line-height: 0;
}
a.email:before {
	content: "\2709";
	font-size: 1.3em;
	line-height: 0;
}

.nuff-stars {
	@include background(image-url("stahculture.png"));
	height: 15px;
}


#navi {
	background-color: $color1;
	margin: 1.5em auto;
}
#navi li {
	@include clearfix;
	border: 1px solid $color1;
	font-family: $font-cursive;
	text-align: center;
	padding: 0.5em 0;
	margin: 0;
	background-color: $color2;
	
}
#content {
	//@include column(24); 
	
} 
.contact { 
	@include column(24); 	
}    

#header, #footer {
    background: $color1;
	color: $color2;
}
